<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
 
            $.getJSON("/debug/get_messages", function(resp){
                for (var i=0; i<resp.length; i++){
                    $.notify(resp[i]["content"], "info");
                }

                $.post("/debug/get_messages", {read:"True"});
            });

        });
    </script>

	<title>Room Check-In</title>

</head>
<body>

<h1>Write a message</h1>

<form method="POST" action="{{url_for('new_message')}}">

    <input type="text" name="msg">

    <div>
        <input type="submit" name="submit" value="Send">
    </div>

</form>


</body>
</html>